* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  text-align: center;
}

body {
  background-color: black;
  color: white;
}

span {
  color: #a8FF35;
}

#heading {
  margin: 1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#place {
  margin: 2rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  -webkit-text-stroke: 1px #a8FF35;
  -webkit-text-fill-color: black;
}

h3 {

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 3rem;
  margin: 3rem;
  text-align: center;
}

.quotes {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.quote {
  background-color: #494F55;
  border-radius: 12px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
}

.quote:hover {
  background-color: #585e63;
  user-select: none;
}

.dont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.para {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 3rem;
  text-align: center;
}

#outer {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: center;
  margin: 10px 0px;
  padding: 5px 7px;
  border-radius: 10px;
  transition: transform 0.5s;
}

#inner:hover {
  background-color: black;
}

#inner {
  background-color: rgb(27, 27, 27);
  color: white;
  border-radius: 10px;
  padding: 5px 50px;
  box-shadow: 2px 2px 2px #a8FF35;
  box-shadow: 2px 2px 2px #a8FF35;
  transition: 0.5s ease;
}

.schedule {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #a8FF35;
  gap: 20px;
}

.schedule h1 {
  margin: 2rem 0;
  text-align: center;
}

#book {
  color: white;
  -webkit-text-fill-color: #a8FF35;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  -webkit-text-fill-color: #a8FF35;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#Discount {

  /* color: black; */
  color: white;
  -webkit-text-fill-color: #a8FF35;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  -webkit-text-fill-color: #a8FF35;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

}

#sp {
  color: black;
  margin: 3rem;

}

.whyus {
  margin: 3rem 0;
}

hr {
  color: white;
}

.whoarewe {
  margin: 3rem 0;
}

.follow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0;
  background-color: #a8FF35;
}

.follow h1 {
  color: black;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
}

#datebutton {
  width: 100%;
  background-color: white;
  color: black;
}

#dateitem {
  padding: 0.4rem;
  width: 100%;
}

.card {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin: 3rem 0;
  /* padding: 2rem ; */
  background-color: black;
  color: rgb(230, 229, 229);

  width: 50%;
  margin: 0 auto;
}

.card>input {
  outline: none;
  padding: 0.5rem;
  border-radius: 10px;
}

.card h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#bookappoin {
  background-color: #a8FF35;
  color: black;
  border-radius: 10px;
  padding: 0.5rem;
  outline: none;
  font-weight: 500;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

#bookappoin:hover{
  opacity: 1;
}



#Homebutton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3vw;
  padding: 4px 4rem;
  background-color: black;
  color: #a8FF35;
  border-color: #a8FF35;
}

.appointsucess {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  flex-direction: column;
}

.appointsucess img {
  border-radius: 50%;
  height: 12vh;
  width: 25vw;
  background-color: #a8FF35;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 99;
  padding: 1.5rem 0;
}

.align_nav{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

nav {
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul li {
  list-style: none;
}

.navbar ul {
  display: flex;
  /* background-color: #a8FF35; */

}

.navbar ul li a {
  text-decoration: none;
  color: white;
  width: fit-content;
  font-size: 1.05rem;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
}

.navbar ul li a{
  position: relative;
}

.navbar ul li a::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 0%;
  background-color: #a8FF35;
  left: 0;
  bottom: -5px;
  transition: 0.3s ease;
}

.navbar ul li a:hover::after {
  width: 100%;
}

.navbar ul li a:hover{
  color: #a8FF35;
}

.line {
  height: 3px;
  margin: 5.5px 0;
  border-radius: 10px;
  width: 30px;
  background-color: aliceblue;

  
}

.hamburger:hover .line{
  background-color: #a8FF35;
}

.hamburger {
  display: none;
}


.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container {
  width: 50px;
}

.social-media {
  width: calc(100% - 30px);
  object-fit: contain;
}

.logo {
  color: #a8FF35;
}

.hambody {
  display: none;
}

.hambody ul{
  padding: 1rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

#date-picker{
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  outline: none;
}
.vechileCard{
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  padding: 2rem;
  position: relative;
  overflow: hidden;
}

.vechileCard:hover{
  box-shadow: 2px 2px 0px #a8FF35;
}

#overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.409);
  position: absolute;
  top: 0;
}

.vechileCard-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.vechileCard h4{
  font-size: xx-large;
  margin:1rem  0rem;
  color: #a8FF35;
}
.vechileCard h2{
  margin: 3rem 0rem;
  color: #a8FF35;

}

#Booknow{
  margin:3rem 1rem;
  display: flex;
  flex-wrap: wrap;
  background-color: #a8FF35;
  color: black;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  outline: none;
  transition: 0.3s ease;
}

#Booknow:hover{
  background-color: transparent;
  color: #fff;
  border-color: #a8FF35;
}

#selectvehicle__section{
  padding: 3rem 0;
}

#selectvehicle{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}
.allvehicles{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}


@media screen and (max-width:850px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .navbar ul li a::after{
    display: none;
  }

  .hambody {
    padding: 0.5rem;
    background-color: black;
    width: 100%;
    /* border: 1px solid #a8FF35; */
    border-radius: 12px;
    box-shadow: 0px 2px 2px #a8FF35;
  }

  #items {
    display: none;
  }


  .quotes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .quote {
    width: 100%;
  }

  .card {
    width: 100%;
  }
}

.section__container {
  width: 85%;
  margin: 0 auto;
}
#Dates{
  background-color: green;
  width: 100%;
}


@media screen and (max-width:1277px) {
  .quotes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}