*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  text-align: center;
  }
body{
  background-color: black;
  color: white;
}
span{
  color: #a8FF35;
}
#heading{
  margin: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
h2{
  margin: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}
h3{

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}
.quotes{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 3rem;
}
.quote{
  background-color: #494F55;
  border-radius: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.dont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.para{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 3rem;
}
#outer{
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: center;
  margin: 10px 0px;
  padding: 5px 7px;
  border-radius: 10px;
}
#inner{
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 5px 50px;
  box-shadow:2px 2px 2px  #a8FF35;
}
.schedule{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #a8FF35;
  gap: 20px;
}
.schedule h1{
  margin: 2rem 6rem;
}
#book{
  color: white;
  -webkit-text-fill-color: #a8FF35;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
#Discount{

  color: white;
  -webkit-text-fill-color: #a8FF35;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

}
#sp{
  color: black;
  margin: 3rem;
  
}
.whyus{
  margin: 3rem;
}
hr{
  color: white;
}
.whoarewe{
  margin: 3rem;
}
.follow{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0;
  background-color: #a8FF35;
}
.follow h1{
  color: black;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
}

#datebutton{
  width: 100%;
  background-color: white;
  color: black;
}

#dateitem{
  padding: 0.4rem;
  width: 100%;
}
.card{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin: 3rem;
  /* padding: 2rem ; */
  background-color: black;
  color: white;
}

.card > input {
  outline: none;
  padding: 0.5rem;
  border-radius: 10px;
}

.card h1{
  display: flex;
  justify-content: center;
  align-items: center;
}
#bookappoin{
  background-color: #a8FF35;
  color: black;
  border-radius: 10px;
  padding: 0.5rem;
}
#Homebutton{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3vw;
  padding: 4px 4rem;
  background-color: black;
  color: #a8FF35;
  border-color:#a8FF35 ;
}
.appointsucess{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
  flex-direction: column;
}
.appointsucess img{
  border-radius: 50%;
  height: 12vh;
  width: 25vw;
  background-color: #a8FF35;
}

nav{
  width: 100%;
  /* background-color: aqua; */
  margin: 0rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul li{
  list-style: none;
}
.navbar ul{
  display: flex;
  /* background-color: #a8FF35; */

}
.navbar ul li a {
  text-decoration: none;
  color: white;
  margin: 1rem;
  padding: 1rem;
}
.line{
  height: 5px;
  margin: 5px;
  border-radius:10px ;
  width: 30px;
  background-color: aliceblue;
  
}
.hamburger{
  display: none;
}


.icons{
  display: flex;
  align-items: center;  
  justify-content: center;
}

.icon-container{
  width: 50px;
}

.social-media{
  width: calc(100% - 30px);
  object-fit: contain;
}
.logo{
  margin: 1rem 1rem;
  color: #a8FF35;
}

@media  screen and (max-width:750px) {
  .hamburger{
    display: block;
    cursor: pointer;
    margin: 1rem 1rem;

  }
  #items{
    display: none;
  }
}
